.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0A1A3B;
    height: auto;
    z-index: 999;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s;
    overflow: auto;
    box-sizing: content-box;
    padding: 50px 0 ;
}

.modal-character {
    min-width: 70%;
    background-color: white;
    min-height: 50%;
    overflow: auto;
    padding: 40px;
    border-radius: 50px;
    position: relative;
    &::-webkit-scrollbar {
        width: 10px;
        position: absolute;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        cursor: pointer;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #1D325A;
        border-radius: 20px;
        border: 3px solid #4AA9A2;
    }
    &::-webkit-scrollbar-track-piece:start {
        margin-top: 30px;
    }
    &::-webkit-scrollbar-track-piece:end {
        margin-bottom: 30px;
    }
}

.modal-character__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-character__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-character__item-list {
    margin-top: 20px;
}
.modal-character__item {
    font-size: 16px;
}

@media (max-width: 576px) {
    .modal-wrapper {
        padding: 0;
    }
    .modal-character {
        border-radius: 0;

    }
}